<!DOCTYPE html>
<html lang="{{#if lang }}{{ lang }}{{ else }}en-US{{/if}}">

<head>
  <meta charset="UTF-8">
  <title>{{#if title }}{{ title }} // {{/if}}Rajas Bhagatkar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:site_name" content="Rajas Bhagatkar">
  <!-- <meta name="description" content="Rajas Bhagatkar - Home" /> -->
  <!-- <meta name="description" content="About · Blogs · Projects · Reminder · About. Rajas Bhagatkar · Full Stack Nodejs Developer at Golden Leaf Digital a Digital Marketing Company | (MongoDB, SQL, Express, ReactJs, Node, Java, Spring Boot) · Currently working on Plot Market a land-selling platform that aims to provide detailed information about different land projects around India and connect the normal person to developer/seller without any broker." /> -->

  <!-- <meta name="keywords" content="Rajas Bhagatkar" /> -->
  <meta name="author" content="Rajas Bhagatkar" />
  <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="alternate icon" href="/favicon.ico"> -->
  <link rel="icon" href="/Favicon.png" type="image/x-icon" />
  <!-- <link rel="alternate icon" href="/alternateFavicon.png" type="image/x-icon" /> -->


  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/highlight.css">
  <link rel="stylesheet" href="/css/senna.css">

  {{#if canonical_url }}
  <link rel="canonical" href="{{ canonical_url }}" />
  {{/if}}

  <script src="/js/senna.min.js"></script>
  <script src="/js/headroom.min.js"></script>
  <script src="/js/main.js"></script>
  <!-- <meta name="google-site-verification" content="jdq_teez2KZvQ5jUvxRw-ok8eBeD9cIgI7JMfaVY258" /> don't know what this is -->
  <!-- Add a style tag with CDN link to js-cloudimage-responsive in the head of your site -->
  <link rel="stylesheet" href="https://cdn.scaleflex.it/plugins/js-cloudimage-responsive/4.8.4/js-cloudimage-responsive.min.css?vh=a076ef&func=proxy"></link>

  <!-- Inspectlet -->

  <!-- Google Analytics -->
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-P8NEDYNNEC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-P8NEDYNNEC');
  </script>

  <!-- is.dev analytics -->
  <script defer data-domain="rajasbhagatkar.is-a.dev"
  src="https://analytics.is-a.dev/js/script.js"></script>

  <!-- Heap analytics useage-->
  <script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=document.createElement("script");r.type="text/javascript",r.async=!0,r.src="https://cdn.heapanalytics.com/js/heap-"+e+".js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(r,a);for(var n=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],o=0;o<p.length;o++)heap[p[o]]=n(p[o])};
    heap.load("2087469965");
    </script>
</head>

<body data-senna data-senna-surface>
  <div class="senna-loading-bar"></div>

  {{> navbar }}