<!DOCTYPE html>
<html lang="{{#if lang }}{{ lang }}{{ else }}en-US{{/if}}">

<head>
  <meta charset="UTF-8">
  <title>{{#if title }}{{ title }} // {{/if}}Rajas Bhagatkar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:site_name" content="Rajas Bhagatkar">

  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="alternate icon" href="/favicon.ico">

  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/highlight.css">
  <link rel="stylesheet" href="/css/senna.css">

  {{#if canonical_url }}
  <link rel="canonical" href="{{ canonical_url }}" />
  {{/if}}

  <script src="/js/senna.min.js"></script>
  <script src="/js/headroom.min.js"></script>
  <script src="/js/main.js"></script>
  <meta name="google-site-verification" content="jdq_teez2KZvQ5jUvxRw-ok8eBeD9cIgI7JMfaVY258" />
  <!-- Inspectlet -->

  <!-- Google Analytics -->
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-P8NEDYNNEC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-P8NEDYNNEC');
  </script>
</head>

<body data-senna data-senna-surface>
  <div class="senna-loading-bar"></div>

  {{> navbar }}