{{> header }} 
<!-- this main is the main part of each and every page other than article -->
<!-- header > header is partials -->
<!-- this is post page partials -->
  <main class="post">
    <header class="post-header">
      <!-- if tagline is present then tagline else title -->
      <h1 class="post-title">{{#if tagline }}{{ tagline }}{{ else }}{{ title }}{{/if}}</h1>
       <!-- Post image -->
      <div class="post-image" style="background-image: url(https://cqsuxchxwa.cloudimg.io/{{image}})"></div>
    </header>
    <div class="post-content">
      <div class="post-container">
        {{{ contents }}} 
        <!-- main post content -->
      </div>
      {{> updates }}
      <!-- updates if any present -->
    </div>
  </main>

{{> footer }}